body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #8ecc7e;
background: radial-gradient(circle, rgba(142, 204, 126, 1) 18%, rgba(235, 214, 77, 1) 70%);
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffeeb3b2;
    border: 1px rgb(177, 169, 58) solid;
    transition: 0.5s;
}

fieldset:hover{
    background-color:#badfabc7;
}

legend{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(41, 83, 2);
}

input{
    border: 1px gray solid;
    padding: 20px;
    border-radius: 55px;
    margin: 10px;
}

select{
    padding: 20px;
    margin: 10px;
    border-radius: 50px 50px 50px 20px;
}

div#btn_cadastrando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

button#id_cadastro{
    padding: 15px;
    margin: 5px;
    width: 350px;
    border-radius: 15px;
    border: 1px gray solid;

}

button#id_limpar_cadastro{
    padding: 15px;
    margin: 5px;
    width: 350px;
    border: 1px gray solid;
    border-radius: 15px;
}

button#id_consulta{
    padding: 13px;
    width: 270px;
    margin: 30px;
    border: 1px gray solid;
    border-radius: 15px;
}

p#id_resultado{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border: 1px gray solid;
    border-radius: 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}



button.editar{
    width: 80px;
    border-radius: 20px 20px 7px 20px;
    margin: 10px;
    padding: 8px;
    border: 1px gray solid;

}

button.remover{
    width: 160px;
    border-radius: 20px 20px 20px 7px;
    margin: 10px;
    padding: 8px;
    border: 1px gray solid;

};

form#editar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* Quando ativar */
#id_resultado.mostrar {
    max-height: 500px; /* ou algo grande o suficiente */
    opacity: 1;
    margin-top: 20px;
}